<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.csdict">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CSdict">
        <activity
            android:name=".ResetPassword"
            android:exported="true" />
        <activity
            android:name=".WordProfileAdminView"
            android:exported="true" />
        <activity
            android:name=".AdminWoork.UserProfileAdminView"
            android:exported="true" />
        <activity
            android:name=".AdminWoork.AdminWork"
            android:exported="true"
            android:label="@string/title_activity_admin_work"
            android:theme="@style/Theme.CSdict.NoActionBar" />
        <activity
            android:name=".UserWork"
            android:exported="true"
            android:label="@string/title_activity_user_work"
            android:theme="@style/Theme.CSdict.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SignIn"
            android:exported="true" />
        <activity
            android:name=".SignUp"
            android:exported="true" />
    </application>

</manifest>